$color-primary:#ec5252;
$color-white:#fff;
$color-white-0:#dee2e6;
$color-white-1:#f7f8fa;
$color-red-0:#521822;
$color-black-0:#a1a7b3;
$color-black-1:#505763;
$color-black-2:#686f7a; 
$color-black-3:#29303b; 
$color-grey-0:#ced4da; 
$color-grey-1:#f2f3f5; 
$color-grey-2:#dedfe0; 
$color-grey-3:#f3f3f3; 
$color-blue-0:#007791; 
$color-yellow-0:#F4C150; 

$fs-15:15px;
$fs-20:20px;
$fs-13:13px;
$fs-30:30;
$fs-36:36px;
$fs-40:40px;
$fs-50:50px;



$pd-11:11px;
$pd-6:6px;
$pd-20:20px;
$pd-30:30px;
$pd-40:40px;



$fw-700:700;
$fw-600:600;
$fw-400:400;