.feedback{
    padding: $pd-30 + 5 0;
    h2{
        @include styleText($color-black-3,$fs-20 + 4,normal);

    }
    .feedback__item{
        border: 1px solid $color-black-0;
        padding: $pd-30 + 2;
        border-radius: 5px;
        .feedback__user{
            display: flex;
            margin-bottom: 10px;
            img{
                width: 64px;
                height: 64px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .feedback__userName{
                margin-bottom: 0;
            }
            span{
                i{
                    color: $color-yellow-0;
                }
            }
        }
    }
}